.docBody {
  background-color: #000000;
  color: #b5b1ac;
}

.formBody {
    background-color: #f1f1f1;
    color: #5A3838;
}

.docBody, .formBody {
    padding: 2%;
}


/* nav bar */
.navbar {
    background-color: #000000;
    color: #b5b1ac;
}

.formBody .navbar {
    background-color: #f1f1f1;
    color: black;
}

a.navlink:hover {
    text-decoration: none;
    opacity: 25%;
    color: #b5b1ac;
}


/* spacer */
.docBody .spacer {
    margin: 4%;
}

.formBody .spacer {
    margin: 4%;
}


/* buttons */
.docBody .btn:hover {
    background-color: #b5b1ac;
    color:#000000;
}

.docBody .btn {
    color: #b5b1ac;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 26px;
}


/* "add to playlist" form */
@media (min-width: 1200px) {
    .formBody .playlistForm .container {
        width: 700px;
    }
}

.docBody .playlistForm .input-group {
    font-size: 16px;
}

input {
    background-color: #f1f1f1 !important;
}

textarea {
    background-color: #f1f1f1 !important;
}


.btn-primary {
    background-color: #5A3838 !important;
    color: #f1f1f1 !important;
    border: #5A3838 !important;
}



input[type=url], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

textarea[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: #5A3838;
    color: #f1f1f1;
    font-family: 'Inter', sans-serif;
}

input[type=button], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #5A3838;
    border-radius: 40px;
    box-sizing: border-box;
    color: #5A3838;
    font-family: 'Inter', sans-serif;
}

.docBody .tunes .card {
    background-color: #00000000; 
    border-color: #363636; 
    margin-top: 4%; 
    margin-bottom: 4%; 
    padding-left:2%; 
    padding-right: 2%; 
    padding-top: 4%; 
    padding-bottom: 4%;
}

@media (max-width: 768px) {

    [class*="col-"] {
        margin-bottom: 15px;
    }
  
    .docBody .tunes .card {
        margin-bottom: 10%;
    }
  }